<div class="password-reset-container">
  
    <form (ngSubmit)="onResetPassword()">
      
      <h2>Reset Password</h2>

      <div class="user-type-selector">
        <div 
          class="user-type-option" 
          [class.active]="userType === 'student'"
          (click)="toggleUserType('student')"
        >
          <i class="icon student-icon"></i>
          <span>Student</span>
        </div>
        <div 
          class="user-type-option" 
          [class.active]="userType === 'teacher'"
          (click)="toggleUserType('teacher')"
        >
          <i class="icon teacher-icon"></i>
          <span>Teacher</span>
        </div>
    </div>

      <div class="form-group">
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input 
          type="password" 
          id="password" 
          [(ngModel)]="newPassword" 
          name="password" 
          required
        >
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input 
          type="password" 
          id="confirmPassword" 
          [(ngModel)]="confirmPassword" 
          name="confirmPassword" 
          required
        >
      </div>
      <button type="submit">Reset Password</button>
      
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

      <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>

      <p style="margin-left: 15%;">Remember your password? <a [routerLink]="['/login']">Login here</a></p>
    </form>
</div>

